COMFYUI_PORTABLE_PROMPT_URL=http://127.0.0.1:8188/prompt
COMFYUI_PORTABLE_HISTORY_URL=http://127.0.0.1:8188/history

COMFYUI_CLOUD_BASE_URL=https://cloud.comfy.org
COMFYUI_CLOUD_API_KEY=comfyui-123456789

UI_SERVER_NAME=127.0.0.1
UI_SERVER_PORT=3022
